/Extension/Workspace/Extras/
/Theme/Workspace/Extras/
/Extension-SB/Workspace/Extras/
/Theme-SB/Workspace/Extras/

/Theme/Workspace/Shokz/assets/
/Theme/Workspace/Shokz/Skins/
/Theme-SB/Workspace/Shokz/assets/
/Theme-SB/Workspace/Shokz/Skins/
