/Extension/Workspace/HidePriceTag/
/Extension/Workspace/HomePageExt/
/Extension/Workspace/ItemSpecExt/
/Extension/Workspace/MinQtyExt/
/Extension/Workspace/PDPVideoExt/
/Extension/Workspace/ProductInStock/
/Extension/Workspace/ProductPromotionsExt/
/Extension/Workspace/PromotionalGiftExt/
/Extension/Workspace/QuickViewExtension/
/Extension/Workspace/ReturnAuthorizationExt/
/Extension/Workspace/RMA/
/Theme/Workspace/Shokz/
