.pl_container{
    @extend .cms-landing-page;
    margin-top: -55px;
    overflow-x: hidden;
    text-align: center;
}
.pl_title{
    color: #454545;
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 60px;
}
.pl_filters{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.pl_dropdown{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: #F1F1F1;
    border-radius: 2px;
    width: 390px;
    padding: 10px;
    text-align: left;
    .pl_dropdown-header{}
    .pl_dropdown-title{
        color: #BABABA;
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
    }
    .pl_dropdown-selected{
        font-size: 14px;
        color: #202020;
        font-weight: 400;
        line-height: 1.4;
    }
}

.pl_dropdown-header{
    flex: 1;
    &::after{
        font: normal normal normal 20px / 1 FontAwesome;
        position: absolute;
        top: 50%;
        right: 10px;
        content: "";
        transform: translateY(-50%);
        color: #797979;
    }
}
.pl_dropdown-list{
    position: absolute;
    top: 100%;
    background: #F1F1F1;
    display: none;
    margin-left: -10px;
    width: 100%;
    margin-top: 4px;
    border-radius: 2px;
    color: #202020;
}
.pl_dropdown-item{
    padding: 10px 12px;
    cursor: pointer;
    &:hover{
        background: #E0E0E0;
    }
}
.pl_dropdown-open{
    .pl_dropdown-header::after{
        content: "";
    }
    .pl_dropdown-list{
        display: block;
    }
}
.pl_table-header{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    padding:20px 0;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
    .pl_header-cell-product{
        padding-left: 172px;
    }
}
.pl_table-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    &:not(:last-of-type){
        border-bottom: 1px solid #D9D9D9;
    }
    .table-image{
        @extend .rc_image;
        width:160px !important;
        height:160px !important;
    }
    .pl_table-cell-product{
        display: flex;
        align-items: center;
        gap: 12px;
        .pl_table-product-name{
            font-size: 20px;
            font-weight: 500;
        }
        .bold{
            font-weight: 600;
        }
    }
    .pl_table-cell-doc{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    .pl_table-subrow{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        font-size: 15px;
        font-weight: 400;
        color: #666666;
        &:first-of-type{
            border-bottom: 1px solid #D9D9D9;
        }
        .pl_table-subrow-download{
            display: flex;
            align-items: flex-end;
            &:hover{
                color: #666666;
            }
        }
        .download-link{
            text-decoration: underline;
            padding-right: 2px;
        }
    }
}
