/* Edited for Posh Theme */

.shopping-layout {
	@extend %sc-layout;
}

.shopping-layout-header {
	@include common-header;
}

.shopping-layout-header {
	box-shadow: unset;
	// position: absolute;
	width: 100%;
}

.shopping-layout-footer {
	@extend %sc-footer !optional;
}

.shopping-layout-breadcrumb, .shopping-layout-notifications {
    @extend .container;
    @include site-max-width-container;
    padding-left: $sc-content-padding;
    padding-right: $sc-content-padding;
}

.shopping-layout-breadcrumb {}

.shopping-layout-no-javascript-msg {
	@extend .message-warning;
	width: 100%;
}

.shopping-layout-content{}

[data-facet-id = "custitem_ccs_item_type"] {
	display: none;
}

[data-facet-id = "Headphone"] {
	display: none!important;
}

[data-facet-id = "POP"] {
	display: none!important;
}